:root {
    --blue1: #63B6E5;
    --white1: #FFFFFF;
    --black1: #0E0E0E;
    --blue2: #00639B;
    --white2: #F4F4F4; 
    --blue3: #C7E5F5;
    --blue4: #93CEEF;
    --grey1: #AEAEAE;
    --grey2: #D7D7D7;
    --black2: #1b1b1b;
}

body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--black2);
}

.background {
    background-image: url(/docs/assets/img/alex_rainer-0-UDsQcKlCg-unsplash.jpg);
    background-size: 500px;
    height: 230px;
    background-position-x: left;
    background-position-y: center;
}

h1, h2, h3, h4, p, a, li {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 400;
    color: var(--white1);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.3rem;
    color: var(--white1);
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.9));
}

.menu {
    padding: 0px;
    margin: 0px;
    height: 1.75rem;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.7));
}

a {
    text-decoration: none;
}

.button2 {
    color: var(--blue1);
    border-style: solid;
    border-color: var(--blue1);
    background-color: var(--white1);
    border-radius: 2000px;
    font-size: 0.8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.pcmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .pcmenu {
        display: none;
    }
}

.month {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.prev {
    display: flex;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.next {
    display: flex;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.arwlft {
    transform: scaleX(-1);
}

h3, h4 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 0.8rem;
}



.weekdays {
    margin: 0;
    padding: 0.4rem 0;
    background-color: white;
    font-size: 0.9rem;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13%;
    color: var(--grey1);
    text-align: center;
  }
  
  /* Days (1-31) */
  .days {
    padding: 10px 0;
    background: white;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  /* Highlight the "current" day */
  .days li .active {
    padding: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    background: #c4e6fd;
    border-style: solid;
    border-radius: 6px;
    border-width: 1.5px;
    border-color: var(--blue1);
    color: var(--blue1);
  }