:root {
    --blue1: #63B6E5;
    --white1: #FFFFFF;
    --black1: #0E0E0E;
    --blue2: #00639B;
    --white2: #F4F4F4; 
    --blue3: #C7E5F5;
    --blue4: #93CEEF;
    --grey1: #AEAEAE;
    --grey2: #D7D7D7;
}


body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, p, button {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 400;
}

.background {
    background-image: url(/docs/img/jackson-hendry-eodA_8CTOFo-unsplash.jpg);
    background-position: center;
    background-size: 1200px;
    height: 760px;
}
@media (min-width:768px) {
    .background {
        background-image: url(/docs/img/jackson-hendry-eodA_8CTOFo-unsplash.jpg);
        background-position: center;
        background-size: 1300px;
        height: 760px;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

@media (min-width:768px) {
    header{
        padding: 1.4rem;
    }
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.3rem;
    color: var(--white1);
}

.menu {
    padding: 0px;
    margin: 0px;
    height: 1.75rem;
    fill: black;
}

@media (min-width:768px) {
    .menu {
        display: none;
    }
}

.boka {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
}

.button1 {
    color: var(--blue1);
    border-style: solid;
    border-color: var(--blue1);
    background-color: var(--white1);
    border-radius: 2000px;
    font-size: 1.3rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width:768px) {
    .button1 {
        display: none;
    }
}

.button2 {
    color: var(--blue1);
    border-style: solid;
    border-color: var(--blue1);
    background-color: var(--white1);
    border-radius: 2000px;
    font-size: 0.8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.pcmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .pcmenu {
        display: none;
    }
}

h2 {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    margin-right: 0.8rem;
}

h3 {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 1.8rem;   
}

.marginh3 {
    margin-top: -2.2rem;
}

@media (min-width:768px) {
    h3 {
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        font-size: 4rem;
        margin: 0;
        padding: 0;
        margin-right: 0.8rem;
        margin-bottom: 0.8rem;
    }
}


.p1{
    font-size: 1.1rem;
    margin-left: 0;
    margin-top: -2rem;
    color: rgba(255, 255, 255, 0.4);
}

h4 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 36px;
    margin-left: 40px;
}

@media (min-width:768px) {
    .p1{
      font-size: 2.4rem;
      margin-top: -1.8rem;  
    }
}

.marginh4 {
    margin-top: -38px;
}

a {
    text-decoration: none;
}

h2:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
}

@media (min-width:768px) {
    .boka {
        justify-content: left;
        display: block;
        margin-left: 3rem;
        margin-top: 6rem;
    }
}