:root {
    --c1: #63B6E5;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, p, button {
    font-family: 'Reem Kufi', sans-serif;
}



.body1 {
    background: url(/docs/img/bi.jpg);
    background-color: beige; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-position: center;
}

/* Header start */

.mobileheader {
    display: flex;
    justify-content: space-between;
    height: 38px;
    margin: 14px;
}

h1  {
    font-weight: 400;
    color: white;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

.menuimg {
    height: 30px;
}

.menu {
    border-style: none;
    background-color: transparent;
    height: 0px;
    padding: 0px;
}

/* Header end */


/* Boka tid knapp */
section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.boka {
    margin-top: 50%;
    margin-bottom: 50%;
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 36px;
    padding-right: 36px;
    color: var(--c1);
    background-color: white;
    border-style: solid;
    border-color: var(--c1);
    border-radius: 28px;
    border-width: 3px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
}
/* Boka tid knapp */

h3 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 22px;
}

p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.45);
}

.start1 {
    color: white;
    font-weight: 400;
    background-color: black;
    border-top-right-radius: 400px;
    width: 110%;
    height: 20px;
    
}

h3, p {
    padding: 0px;
    margin: 0px;
}