:root {
    --blue1: #63B6E5;
    --white1: #FFFFFF;
    --black1: #0E0E0E;
    --blue2: #00639B;
    --white2: #F4F4F4; 
    --blue3: #C7E5F5;
    --blue4: #93CEEF;
    --grey1: #AEAEAE;
    --grey2: #D7D7D7;
    --grey3: #676767;
    --black2: #1b1b1b;
}

body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--white1);
}

.background {
    background-image: url(/docs/assets/img/jehyun-sung-6U5AEmQIajg-unsplash.jpg);
    background-size: 400px;
    height: 230px;
    background-position-x: left;
    background-position-y: center;
}

h1, h2, h3, h4, p, a {
    font-family: 'Reem Kufi', sans-serif;
    font-weight: 400;
    color: var(--black1);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
}

.button2 {
    color: var(--blue1);
    border-style: solid;
    border-color: var(--blue1);
    background-color: var(--white1);
    border-radius: 2000px;
    font-size: 0.8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.pcmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .pcmenu {
        display: none;
    }
}

h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.3rem;
    color: var(--white1);
}

.menu {
    padding: 0px;
    margin: 0px;
    height: 1.75rem;
}

@media (min-width:768px) {
    .menu {
        display: none;
    }
}

a {
    text-decoration: none;
}

.button2 {
    color: var(--blue1);
    border-style: solid;
    border-color: var(--blue1);
    background-color: var(--white1);
    border-radius: 2000px;
    font-size: 0.8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.pcmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:768px) {
    .pcmenu {
        display: none;
    }
}

h2 {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0rem;
    padding: 0rem;
    margin-right: 1rem;
}

h3{
    font-size: 1.2rem;
    background-color: var(--black1);
    margin: 0px;
    margin-bottom: 1rem;
    padding: 0.4rem;
    padding-left: 0.8rem;
    color: var(--white1);
}

.ruta {
    display: flex;
    align-items: center;
    width: 55rem;
}

.terabild {
    height: 5rem;
    width: 5rem;
    background-size: 6rem;
    background-position: center;
    border-radius: 20rem;
    filter: grayscale();
}

h4 {
    font-size: 1.1rem;
    margin: 0rem;
    padding: 0rem;
    color: var(--grey3); 
}

p {
   font-size: 0.85rem;
   margin: 0rem;
   padding: 0rem; 
   color: var(--grey3);
}

.mrgleft{
    margin-left: 1rem;
}

.mer{
    margin-top: -0.8rem;
    margin-left: 45rem;
}